<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlApp.DataAccess.Properties.Settings.dbo_ReceiptsConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbo.Receipts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ControlApp.DataAccess.Properties.Settings.ControlAppConnectionString"
            connectionString="Data Source=.;Initial Catalog=ControlApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>